*.a
*.o
*.la
*.lo
*.log
*.so
*#
*.#
*~
*.workspace
*.workspace.session
*.tags
*wsp.mk
*.project
configure
*.cache
depcomp
lognot
missing
install-sh
*.m4
tags
.deps
Makefile
Makefile.in
.anjuta/
*.anjuta
.anjuta_sym_db.db
*.bak
.gitconfig
config.status
TODO.tasks
sysmonit.anjuta
lognot.config
lognot.creator
lognot.creator.user
lognot.files
lognot.includes
version.hpp

